{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <header>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
        <script src="{% static 'js/about_process.js' %}"></script>
        <script src="{% static 'js/dejong.js' %}"></script>
    </header>
    <div class="code-in-art-out">
        <h2 style="font-family:'Press Start 2P', cursive; ">What is Generative Art?</h2>
        <div id="ifs-holder" class="img-holder">
            <img src="{% static 'images/code.png' %}" alt="image" height="400px">
        </div>
        <p style="margin-top: 2em;">"One overly simple but useful definition is that
            generative art is art programmed using a computer that intentionally introduces randomness as part of its
            creation process" ~ <a href="https://www.artnome.com/news/2018/8/8/why-love-generative-art"
                                   class="underline_a" target="_blank" style="color: #f2849e">ARTNOME</a></p>
    </div>

    <div class="code-in-art-out second">
        <h2 style="font-family:'Press Start 2P', cursive; ">C0D3 1N ART 0UT</h2>
        <div class="img-holder medium-img-holder">
            <img src="{% static 'images/butterfly/1.png' %}" alt="image">
            <img src="{% static 'images/butterfly/2.png' %}" alt="image">
            <img src="{% static 'images/butterfly/3.png' %}" alt="image">
            <img src="{% static 'images/butterfly/4.png' %}" alt="image">
            <h4><a class="underline_a" style="color: #f2849e;" target="_blank"
                   href="https://www.goodreads.com/book/show/243705.The_Collector"> "The Collector" Family</a></h4>
        </div>
        <p style="margin-top: 2em;">The beauty of Generative Art is that even the artist doesn't know what the output
            would exactly be like; one-to-many mapping of program to artworks. The above 4 artworks are outputs of a
            single
            program. All the artworks are original and singly executed programs. The prints/artworks shall never be
            recreated or resold by me.</p>
        <p>The process of creating new artwork is very iterative. The process can take from 2 hours to a week of daily
            augmentation to call it "completed". In my opinion, no work is ever really complete for I have found
            whenever I start working on some previous artwork the new output is almost always much better. </p>
        <div class="img-holder medium-img-holder">
            <img src="{% static 'images/outputs/op1.png' %}" alt="image">
            <img src="{% static 'images/outputs/op3.png' %}" alt="image">
            <img src="{% static 'images/outputs/op2.png' %}" alt="image">
            <img src="{% static 'images/outputs/op4.png' %}" alt="image">
        </div>
    </div>

    <div class="code-in-art-out">
        <h2 style="font-family:'Press Start 2P', cursive; ">Colors</h2>
        <div class="img-holder one">
            <img src="https://sigmoidal.io/wp-content/uploads/2017/09/deep_convolutional_generative_adversarial_network1.png"
                 height="150px">
        </div>
        <p>I use a custom <a
                href="https://towardsdatascience.com/understanding-k-means-clustering-in-machine-learning-6a6e67336aa1"
                class="underline_a" style="color: #f2849e">K-Means
            clustering Algorithm</a> for generating curated color palettes but using manually curated
            color palettes works well too. <br> Color Spaces: <a href="https://en.wikipedia.org/wiki/HSL_and_HSV"
                                                                 style="color: #f2849e" class="underline_a">HSV(A)</a>
            >>
            <a href="https://en.wikipedia.org/wiki/RGB_color_model#:~:text=The%20RGB%20color%20model%20is,red%2C%20green%2C%20and%20blue."
               style="color: #f2849e" class="underline_a">RGB(A)</a>; Hue Saturation Value color space just feels more
            natural than RGB color space.
        </p>
    </div>

    <div class="code-in-art-out">
        <h2 style="font-family:'Press Start 2P', cursive; ">AI</h2>
        <div class="img-holder one">
            <img src="https://sigmoidal.io/wp-content/uploads/2017/09/deep_convolutional_generative_adversarial_network1.png"
                 height="150px">
        </div>
        <p>All the AI artworks are created using a special class of neural network architectures called
            <a href="https://towardsdatascience.com/understanding-generative-adversarial-networks-gans-cd6e4651a29"
               style="color: #f2849e;" target="_blank" class="underline_a">Generative Adversarial Networks</a> or
            GANs for short. Started as my Bachelor's Thesis Project with
            <mono>512 x 512</mono>
            resolution outputs; sampling artworks closer to each other in the latent space enables gives you good
            results
            for tiling.
        </p>
        <div class="img-holder large">
            <img src="{% static 'images/ai/0.png' %}" height="500px;">
            <img src="{% static 'images/ai/1.png' %}" height="500px;">
            <img src="{% static 'images/ai/2.png' %}" height="500px;">
            <img src="{% static 'images/ai/3.png' %}" height="500px;">
        </div>
    </div>

    <div class="code-in-art-out">
        <h2 style="font-family:'Press Start 2P', cursive; ">What's the logo?</h2>
        <div class="img-holder one">
            <img src="{% static 'images/logo.png' %}" height="300px">
        </div>
        <p>This is an original generative art sketch made by me of a vanilla <a
                href="https://towardsdatascience.com/understanding-neural-networks-19020b758230" class="underline_a">Neural
            Network</a>. Neural networks have blown up, every software engineer wants to get their hands on these
            computation units to do insane previously impossible labeled tasks. This is the modern day smallest
            computation unit.</p>
    </div>

    <div class="code-in-art-out">
        <h2 style="font-family:'Press Start 2P', cursive; ">No editing. no photoshop. no images. only code. 100% pure
            code</h2>
        <div class="img-holder small">
            <img src="https://pbs.twimg.com/profile_images/502135348663578624/-oslcYof.png" height="150px">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Processing_3_logo.png" height="150px">
            <img src="https://cdn.auth0.com/blog/es6rundown/logo.png" height="150px">
            <img src="https://i.pinimg.com/originals/77/88/25/778825be381be66db27d56ba533034ea.png" height="150px">
        </div>
    </div>

{% endblock content %}
