{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
    </noscript>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png"
          href="https://raw.githubusercontent.com/raunit-x/Generative-Art-Gallery/master/images/spiral.png">
</head>
<body class="is-preload">
<!-- Wrapper -->
{% if messages %}

    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message|safe }}

        </div>
    {% endfor %}
{% endif %}
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="{% url 'shop' %}" class="logo">
                <span class="symbol"><img
                        src="https://raw.githubusercontent.com/raunit-x/Generative-Art-Gallery/master/images/spiral.png"
                        alt=""/></span><span class="title">The Gallery of Computation</span>
            </a>
        </div>
    </header>

    <!-- Menu -->
    <nav id="navbar">
        <div class="navinner" style="height: 0px;">
            <div class='bs'></div>
            <ul>
                <li><a href="{% url 'playground-home' %}">Playground</a></li>
                <li><a href="{% url 'ai-art' %}">AI</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                {#                <li><a href="{% url 'checkout' %}">Checkout</a></li>#}
            </ul>
        </div>
    </nav>
    <nav id="fixednav">
        <a href="{% url 'shop' %}" class="Logo-fixed">
            The Gallery of Computation
        </a>
        <ul>
            <li><a href="{% url 'playground-home' %}">Playground</a></li>
                <li><a href="{% url 'ai-art' %}">AI</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'about' %}">Shop</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
        </ul>
    </nav>
    <!-- hamburger -->
    <button class="header_btn" onclick="toggleSideBar()">
        <span></span>
        <span></span>
    </button>

    <!-- Main -->
    <div class="about-main">
        <div class="caption">
            <h1>Welcome</h1>
            <h3>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis <br> eget tempus euismod. Vestibulum ante ipsum p</h3>
        </div>
        <div class="hero-image">
            <img src="{% static 'images/static/about-2.PNG' %}" alt="">
        </div>


        <div class="about-row">
            <div class="row">
                <div class="col-8 col-12-medium about-content">
                    <div style="width:70%; height: auto;">
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan <br> varius montes viverra nibh in adipiscing blandit tempus accumsan.
                    t placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
                    </div>    
                </div>
                <div class="col-4 col-12-medium">
                    <div class="row nest" style="width:100% !important" >
                        <div class="col-12 col-6-medium about-content-2">
                            <img src="{% static 'images/static/3.PNG' %}" alt=""  style="object-fit: scale-down; width: 100%;">
                            <div class="content-caption"><h2>THE PROCESS</h2></div>
                        </div>
                        <div class="col-12 col-6-medium about-content-3" >
                            <img src="{% static 'images/static/4.PNG' %}" alt="" style="object-fit: scale-down; width:100%">
                            <div class="content-caption-2"><h2>THE MERIT</h2></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        
        
        
    </div>

    <!-- Footer -->
    {% block footer_block %}
        <footer id="footer">
            <div class="inner">
                <h2>All About Generative Art In your Inbox</h2>
                <p>Latest Art and Info about Generative Art. No spam, guaranteed.</p>
                <form method="post" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="field half align-center">
                            {{ newsletter_form.email }}
                        </div>
                    </div>
                    <div class="">
                        <div class="subscribe">
                            <input type="submit" value="Subscribe" id="subscribe" class="primary subscribe"/>
                        </div>
                    </div>
                </form>
{#                <h6 style="font-size: 0.50em;">Don't want this? <a href="{% url 'unsubscribe' %}"#}
{#                                                                   style="color: #f2849e">Unsubscribe</a></h6>#}
                <ul class="copyright">
                </ul>
                <div>
                    <ul class="icons">
                        <li><a href="https://instagram.com/raunit_x" target="_blank"
                               class="icon brands style2 fa-instagram"></a></li>
                        <li><a href="https://github.com/raunit-x" target="_blank"
                               class="icon brands style2 fa-github"></a></li>
                        <li><a href="mailto:raunit88@gmail.com" target="_blank"
                               class="icon solid style2 fa-envelope"></a></li>
                        <li><a href="https://medium.com/@raunit_x" target="_blank"
                               class="icon brands style2 fa-medium"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}


</div>
<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/product.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
</body>
</html>

