{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <h2>AI ART: Neural Networks hacking the highest form of human expression</h2>
    <div class="gif-holder" style="justify-content: center; display: flex">
        <img src="https://github.com/raunit-x/Generative-Art-Sketches/blob/master/images/ezgif.com-gif-maker.gif?raw=true"
             alt="A cool gif">
        {#        <img src="https://github.com/raunit-x/Generative-Art-Gallery/blob/master/images/ezgif.com-gif-maker.gif?raw=true" alt="a cool gif">#}
    </div>
    <div style="justify-content: center; display: flex; text-align: left; margin-top: 2em; margin-bottom: 0; padding: 2px;">
        <p>
            <br>
            Introducing a refined selection of unique art masterpieces, meticulously crafted by a state-of-the-art Generative Adversarial Network (GAN). This GAN has been expertly trained back in early 2021 on an extensive dataset comprising over 30,000 distinguished paintings. Each captivating piece displayed here is a testament to the exceptional capabilities of this advanced Neural Network.
            Generating novel artwork with this revolutionary neural network is remarkably swift, requiring merely milliseconds on contemporary laptops. If you are interested in acquiring your very own AI-generated masterpiece, please explore the <a href="{% url 'shop' %}"
                                                                                  class="underline_a"
                                                                                  style="color: #f2849e">shop</a> section and look for pieces marked with the AI tag. Discover the future of art, where creativity and technology merge seamlessly.
        </p>
    </div>
    <section class="tiles">
        {% for product in ai_products %}
            <article class="artwork" id="artwork"
                     onclick="openUpModal('{{ product.id }}', '{{ product.get_image_url }}', '{{ product.name }}')">
                <span class="image">
                    <img src="{{ product.get_image_url }}" alt="lol"/>
                </span>
                <span href="#" class="product">
                    <div class="price">
                        <h5 style="text-align: center">{{ product.name }}</h5>
                        <p></p>
                    </div>
                </span>
            </article>
            <div class="modal" id="modal-{{ product.id }}">
                <span class="close" id="close-{{ product.id }}" onclick="closeModal('{{ product.id }}')">&times;</span>
                <img class="modal-content" id="{{ product.id }}">
                <div class="caption-modal" id="caption-{{ product.id }}"></div>
                <div class="caption-modal light">Made with a custom Generative Adversarial Network</div>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
