{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<header>
    <a href="{%  url 'shop' %}" class="button">Continue Shopping</a>
    <h1>Cart</h1>
    {% if not items %}
    <h1 style="text-align: center!important;">Cart Empty!</h1>
    {% else %}

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
{#                    <th>Description</th>#}
                    <th>Price</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                <tr>
                    <td><img src="{{item.product.imageURL}}" alt="" style="height: 5%" /></td>
                    <td>{{item.product.name}}</td>
{#                    <td>{{item.product.information}}</td>#}
                    <td>${{item.product.price|floatformat:2}} &nbsp; &nbsp; </td>
                    <td><a href="#" class="icon style1  far fa-trash-alt" aria-hidden="true"><span class="label">Twitter</span></a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>${{order.get_cart_total|floatformat:2}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <a href="{% url 'checkout' %}" class="button primary">Continue to Checkout</a>
    {% endif %}
</header>

{% endblock content%}