{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<header>
    {% if not items %}
                <h1 style="text-align: center!important;">Cart Empty!</h1>
    {% else %}
    <h2 style="font-size: 1.25em;">Checkout</h2>
</header>
<section>
    <!-- <h2>Form</h2> -->
    <form method="post" action="#">
        <div class="row gtr-uniform aln-center">
            <div class="col-6 col-12-medium nestedrow">
                <div class="col-1 col-12-medium">
                    <input type="text" name="name" id="name" value="" placeholder="Name" />
                </div>
                <div class="col-4 xcol-12-medium">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="address" id="address" value="" placeholder="Address 1" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="address" id="address" value="" placeholder="Address 2" />
                </div>
                <div class="col-6 col-12-xsmx   all">
                    <input type="text" name="Country" id="country" value="" placeholder="Country" />
                </div>
                <div class="col-2 col-12-medium">
                    <input type="text" name="postal" id="postal" value="" placeholder="Postal Code" />
                </div>
                <div class="col-2 col-12-medium">
                    <input type="text" name="city" id="city" value="" placeholder="City" />
                </div><div class="col-2 col-12-medium">
                    <input type="text" name="state" id="state" value="" placeholder="State" />
                </div>
             </div>
           <div class="col-6 col-12-medium ">
                <h2>Order Summary</h2>


                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Artwork</th>
                                <th>Title</th>
                                <th></th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items%}
                            <tr>
                                <td><a href="{%  url 'product' item.product.id %}"><img src="{{item.product.imageURL}}" alt="" style="height: 4em" /></a></td>
                                <td>{{item.product.name}}</td>
                                <td></td>
                                <td>${{item.product.price|floatformat:2}}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="1">Total Amount</td>
                                <td></td>
                                <td></td>
                                <td>${{order.get_cart_total|floatformat:2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <a href="{% url 'cart' %}" class="button">Back to Cart</a>

            </div>



            <div class="col-12">
                <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Continue To Payment" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
    {% endif %}
</section>
{% endblock content%}