{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <header>
        {#        <a href="{% url 'cart' %}" class="button">&#10235; back to Cart</a>#}

        <h2 style="margin-top: 2.5em; margin-bottom: 1.75em; font-size: 1.25em;">Checkout</h2>
        {% if not items %}
            <h2 style="text-align: center!important;">Cart Empty!</h2>
        {% else %}
            {#            <h2 style="font-size: 1.25em;">Checkout</h2>#}
            </header>
            <section>
            <!-- <h2>Form</h2> -->
            <form method="post" action="#">
                <div class="row gtr-uniform aln-center">
                    <div class="col-6 col-12-medium nestedrow">
                        <div class="col-1 col-12-medium">
{#                            <form action="" method="post">#}
                                {% csrf_token %}
                                {{ form.name }}
{#                            </form>#}
                        </div>
                        <div class="col-4 col-12-medium">
                            <!-- <input type="email" name="email" id="email" value="" placeholder="Email"/> -->
                            {{ form.email }}
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <!-- <input type="text" name="address" id="address" value="" placeholder="Address 1"/> -->
                            {{ form.address1 }}
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <!-- <input type="text" name="address" id="address" value="" placeholder="Address 2"/> -->
                            {{ form.address2 }}
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <!-- <input type="text" name="Country" id="country" value="" placeholder="Country"/> -->
                            {{ form.country }}
                        </div>
                        <div class="col-2 col-12-medium">
                            <!-- <input type="text" name="postal" id="postal" value="" placeholder="Postal Code"/> -->
                            {{ form.postal }}
                        </div>
                        <div class="col-2 col-12-medium">
                            <!-- <input type="text" name="city" id="city" value="" placeholder="City"/> -->
                            {{ form.state }}
                        </div>
                        <div class="col-2 col-12-medium">
                            <!-- <input type="text" name="state" id="state" value="" placeholder="State"/> -->
                            {{ form.city }}
                        </div>
                        {#                    </div>#}

                        {#                        </form>#}
                    </div>
                    <div class="col-6 col-12-medium ">
                        <a href="{% url 'cart' %}" class="button">&larr; Back to Cart</a>
                        <h2 style="margin-top: 2em; margin-bottom: 1.75em; font-size: 1.25em;">Order Summary</h2>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>Artwork</th>
                                    <th>Title</th>
                                    <th>Print</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td><a href="{% url 'product' item.product.id %}"><img
                                                src="{{ item.product.imageURL }}" alt=""
                                                style="height: 3em"/></a></td>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.printstyle }}</td>
                                        <td>${{ item.product.price|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="1">Total Amount</td>
                                    <td></td>
                                    <td></td>
                                    <td>${{ order.get_cart_total|floatformat:2 }}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li>
                            <button type="submit" href="{% url 'checkout' %}" class="button primary">Continue To
                                Payment
                            </button>
                        </li>
                        <li><input type="reset" value="Reset"/></li>
                    </ul>
                </div>
                </div>
            </form>
        {% endif %}
        </section>
{% endblock content %}
