{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
    </noscript>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark_theme.css' %}">
    <link rel="icon" type="image/png"
          href="https://github.com/raunit-x/Generative-Art-Gallery/blob/master/images/logo%20goc.png?raw=true">
    <script type="text/javascript">
        document.styleSheets[1].disabled = true;
        let user = '{{request.user}}';

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken');

    </script>
</head>
<body class="is-preload">
<!-- Wrapper -->
{% if messages %}

    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message|safe }}

        </div>
    {% endfor %}
{% endif %}
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="{% url 'shop' %}" class="logo">
                <span class="symbol"><img src="https://github.com/raunit-x/Generative-Art-Gallery/blob/master/images/logo%20goc.png?raw=true"
                                          alt=""/></span><span class="title">THE GALLERY OF COMPUTATION</span>
            </a>
            <input type="button" style="float: right" onclick="toggleTheme()" value="GO DARK" id="dark-theme"/>
        </div>
    </header>

    <!-- Menu -->
    <nav id="navbar">
        <div class="navinner">
            <div class='bs'></div>
            <ul class="nav_links">
                <li><a href="{% url 'playground-home' %}">Playground</a></li>
                <li><a href="{% url 'ai-art' %}">AI</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
            </ul>
        </div>
    </nav>
    <nav id="fixednav">
        <ul>
            <li><a href="{% url 'shop' %}" class="Logo-fixed">
                The Gallery of Computation
            </a></li>
            <li><a href="{% url 'playground-home' %}">Playground</a></li>
                <li><a href="{% url 'ai-art' %}">AI</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'about' %}">Shop</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
        </ul>
    </nav>
    <!-- hamburger -->
    <button class="header_btn" onclick="toggleSideBar()">
        <span></span>
        <span></span>
    </button>
    <div style="padding: 1em">
        <div class="inner">
            <header>
                <h5><a href="{% url 'about_process' %}" class="underline_a" style="font-weight: 900;">Not your father's Art Form</a></h5>
            </header>
        </div>
    </div>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <!-- Footer -->
    {% block footer_block %}
        <footer id="footer">
            <div class="inner">
                <h2>All About Generative Art In your Inbox</h2>
                <p>Latest Art and Info about Generative Art. No spam, guaranteed.</p>
                <form method="post" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="field half align-center">
                            {{ newsletter_form.email }}
                        </div>
                    </div>
                    <div class="">
                        <div class="subscribe">
                            <input type="submit" value="Subscribe" id="subscribe" class="primary subscribe"/>
                        </div>
                    </div>
                </form>
                {#                <h6 style="font-size: 0.50em;">Don't want this? <a href="{% url 'unsubscribe' %}"#}
                {#                                                                   style="color: #f2849e">Unsubscribe</a></h6>#}
                <div>
                    <ul class="icons">
                        <li><a href="https://instagram.com/raunit_x" target="_blank"
                               class="icon brands style2 fa-instagram"></a></li>
                        <li><a href="https://github.com/raunit-x" target="_blank"
                               class="icon brands style2 fa-github"></a></li>
                        <li><a href="mailto:raunit88@gmail.com" target="_blank"
                               class="icon solid style2 fa-envelope"></a></li>
                        <li><a href="https://medium.com/@raunit_x" target="_blank"
                               class="icon brands style2 fa-medium"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}
    <div class="copyright">
        <p><a href="{% url 'about_process' %}" style="color: #f2849e;" class="underline_a">About the Process</a></p>
        <p>All Rights Reserved. Copyright The Gallery of Computation.</p>
    </div>

</div>
<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/product.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
</body>
</html>