{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
    </noscript>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png"
          href="https://raw.githubusercontent.com/raunit-x/Generative-Art-Gallery/master/images/spiral.png">
    <script type="text/javascript">
        let user = '{{request.user}}';

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken');
    </script>
</head>
<body class="is-preload">
<!-- Wrapper -->
{% if messages %}

    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message|safe }}

        </div>
    {% endfor %}
{% endif %}
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="{% url 'shop' %}" class="logo">
                <span class="symbol"><img
                        src="https://raw.githubusercontent.com/raunit-x/Generative-Art-Gallery/master/images/spiral.png"
                        alt=""/></span><span class="title">The Gallery of Computation</span>
            </a>
        </div>
    </header>

    <!-- Menu -->
    <nav id="navbar">
        <div class="navinner">
            <div class='bs'></div>
            <ul>
                <li><a href="{% url 'playground-home' %}">Playground</a></li>
                <li><a href="{% url 'ai-art' %}">AI</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                {#                <li><a href="{% url 'checkout' %}">Checkout</a></li>#}
            </ul>
        </div>
    </nav>
    <!-- hamburger -->
    <button class="header_btn" onclick="toggleSideBar()">
        <span></span>
        <span></span>
    </button>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <!-- Footer -->
    {% block footer_block %}
    <footer id="footer">
        <div class="inner">
            <h2>All About Generative Art In your Inbox</h2>
            <p>Latest Art and Info about Generative Art. No spam, guaranteed.</p>
            <form method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                <div class="fields">
                    <div class="field aln-center">
                        {{ newsletter_form.email }}
                    </div>
                </div>
                <div class="">
                    <div class="subscribe">
                        <input type="submit" value="Subscribe" id="subscribe" class="primary subscribe"/>
                    </div>
                </div>
            </form>
            <h6 style="font-size: 0.50em;">Don't want this? <a href="{% url 'unsubscribe' %}" style="color: #f2849e">Unsubscribe</a></h6>
            <!-- <section>
                    <h2>contact</h2>
                <ul class="icons">
                    <li><a href="https://instagram.com/raunit_x" target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/raunit-x" target="_blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="mailto:raunit88@gmail.com" target="_blank" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                    <li><a href="https://medium.com/@raunit_x" target="_blank" class="icon brands style2 fa-medium"><span class="label">Medium</span></a></li>
                </ul>
            </section> -->
            <ul class="copyright">
            </ul>
        </div>
    </footer>
{% endblock %}

</div>
<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/product.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
</body>
</html>