{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row gtr-uniform aln-center" >
    <div class=" col-4 col-12-medium">
        <h1 style="font-size: 2.3em !important; margin-bottom: 0 !important;">{{ product.name }}</h1>
    </div>
    <div class="col-8 col-12-medium"></div>
    <div class=" col-4 col-12-medium" style="padding-top: 0!important;">
        <p><b>Created:</b> Dummy Text <br>
            <b>Medium:</b> Dummy Data <br>
            <b>Dimension:</b> 11x17 inches
        </p>
    </div>
    <div class="col-8 col-12-medium">
        <p class="portfolio-info">{{ product.information }}</p>
    </div>
</div>
<div class="portfolio-image">
    <img src="{{ product.imageURL}}" alt="">
</div>
{% endblock %}