{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'shop' %}" class="button" style="margin-bottom:2em;">&larr; Back to Shop</a>
    <div class="row gtr-uniform aln-center">
        <div class=" col-6 col-12-xsmall product-image slideshow-container">
            {% for image_obj in images %}
                <div class="mySlides fade">
                    <img src="{{ image_obj.image.url }}" style="width:100%">
                </div>
            {% endfor %}
            <br>
            <div style="text-align:center">
                {% for image_obj in images %}
                    <span class="dot" onclick="currentSlide( {{ forloop.counter }} )"><img alt="" style="height: 3em;" src="{{ image_obj.image.url }}"></span>
                {% endfor %}
            </div>
        </div>

        <div class=" col-6 col-12-xsmall product-information">
            <h2 style="font-size: 1.5em; font-weight: 900">{{ product.name }}</h2>
            <p>${{ product.price }}</p>
            <p>
                <b>PROGRAM</b> {{ product.name }} <br>
                <b>ITERATION:</b> 1 of 16(dummy data) <br>
                <b>CREATED:</b> 2020 <br>
                <b>MEDIA:</b> Unique Archival Pigment Print <br>
                <b>DIMENSIONS:</b> 16 x 20 in
            </p>
            <p class="description-para">
                <b>About the work</b> <br>
                {{ product.information }}
            </p>
            <p class="description-para">
                <b>About the prints</b> <br>
            <p class="description-para">
                All the prints are done by an extremely reliable fine arts printing shop located in Hyderabad,
                India. A <b>300 dpi</b> state of the art
                <b>Epson</b> industry quality printer is used.
            </p>
            We offer two types of physical prints:
            <ol style="margin-left: 1em">
                <li><b>Canvas</b>: Archival quality 600gsm canvas. Preserves pigments of the ink giving stunning
                    results.
                </li>
                <li><b>Matte Finish Paper</b>: Archival quality 380gsm matte finish paper. Holds the ink extremely
                    well
                    with fine details.
                </li>
            </ol>


            </p>
            <p class="description-para">
                <b>Shipping</b> <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget pellentesque dui. Proin
                laoreet condimentum ex vitae dictum. Nullam eu rhoncus nulla. Sed et dignissim enim, in sollicitudin
                quam. <br> <br> Nunc laoreet elit tortor, sed cursus ante sollicitudin quis. Pellentesque habitant
                morbi
                tristique senectus.
            </p>
            {% if product.sold %}
                <button class="button-disabled">SOLD</button>
            {% elif in_cart %}
                <button class="button disabled">Added to cart</button>
            {% else %}
                <button class='purchase-button primary'>Purchase</button>
                <div class="purchase-form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <b>Signature:</b>
                        {{ form.signature }}
                        <br>
                        <b style="margin-top: 4em;">Choose Print:</b>
                        {{ form.printstyle }}
                        <br>
                        <b>Other Instructions:</b>
                        {{ form.other }}
                        <button type="submit" data-product={{ product.id }} data-action="add"
                                class="update-cart button primary " style="margin-top: 2em;">Add to Cart
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>


    </div>

{% endblock %}