{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <header>
        <h5>Not your father's Art Form.</h5>

        {#    <p><i>Not your father's art form</i></p>#}
    </header>
    {#<h1>This is shop</h1>#}
    <section class="tiles">
        {% for product in products %}
            <article class="artwork" id="artwork">
{#            <div class="shop_image">#}
                <div class="image parent_div">
                    <img class="base" src="{{ product.get_default_image_url }}" alt="lol"/>
                    {% if product.sold %}
                        <p class="sold">SOLD</p>
                    {% endif %}
                </div>
{#            </div>#}
                <a href="{% url 'product' product.id%}" class="product">
                    <div class="price">
                        <div class="labels">
                            <h5>{{ product.name }}</h5>
                            <p>${{ product.price|floatformat:2 }}</p>
                        </div>
                    </div>
                </a>
            </article>
            <!-- <button data-product={{product.id}} data-action="add" class="update-cart">Add</button> -->
        {% endfor %}
    </section>

{% endblock content %}