{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<header>
    <h5>Turning Algorithms into Artwork</h5>

{#    <p><i>Not your father's art form</i></p>#}
</header>
{#<h1>This is shop</h1>#}
<section class="tiles">
    {% for product in products %}
    <article class="">
        <span class="image">
            <img src="{{product.imageURL}}" alt="" />
        </span>
        <a href="">
            <div class="content">
                <p>{{product.information}}</p>
            </div>
            <div class="price">
                <h2>{{product.name }}</h2>
                <p>${{product.price|floatformat:2}}</p>
        </div>
        </a>
        
    </article>
    {% endfor %}
</section>

{% endblock content%}